@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.h {
    height: 60px;
    width: 80px;
}

#nav-item-1 {
    color: white;
}

#nav-item-2 {
    color: white;
}

#nav-item-3 {
    color: white;
}

#nav-item-4 {
    color: white;
}

#nav-item-5 {
    color: white;
}

#nav-item-6 {
    color: white;
}
